.fit {
  min-height: calc(100vh - 88px);
}

.image-container.pdp span{
  padding: 0!important;
}

.text-orange{
  color: #EC5E28!important;
}

.z-99{
  z-index: 999!important;
}

.bg-orange{
  background-color: #EC5E28!important;
}

.border-orange{
  border-color: #EC5E28!important;
}

.bg-orange:hover{
  background-color: #c73f0a!important;
}

.hover\:bg-orange:hover {
  background-color: #ff5b1d!important;
}

.hover\:border-orange:hover {
  border-color: #EC5E28!important;
}

.hover\:text-orange:hover {
  color: #EC5E28!important;
}

.table{
  width: 100%!important ;
}

.bg-selected-facet{
  background-color: rgba(236, 94, 40, 0.08);
  padding: 5px;
}

.bg-nonselected-facet{
  background-color: transparent;
  padding: 2px 5px;
}

.max-w-md {
  max-width: 29rem!important;
}

.z-999{
  z-index: 9999999!important;
}

.z-9999{
  z-index: 999999999!important;
}